<a href="https://colab.research.google.com/github/RoshanKrO7/DataAnalyticsAndVisualisation/blob/main/DataCleaning%26Processing(Lab4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
print(df)
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df)

        one       two     three
a  1.212389 -1.000505 -0.321183
c -0.627585  0.515692 -0.231259
e  0.238247  1.192533 -1.553773
f -1.170373 -0.343440  0.153600
h  0.976162 -0.778032 -0.026465
        one       two     three
a  1.212389 -1.000505 -0.321183
b       NaN       NaN       NaN
c -0.627585  0.515692 -0.231259
d       NaN       NaN       NaN
e  0.238247  1.192533 -1.553773
f -1.170373 -0.343440  0.153600
g       NaN       NaN       NaN
h  0.976162 -0.778032 -0.026465

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one',
'two', 'three'])
df = df.reindex(['a', 'b', 'c'])
print (df)
print ("NaN replaced with '0':")
print (df.fillna(0))

        one       two     three
a -0.200728 -0.449055  0.923772
b       NaN       NaN       NaN
c -2.014818 -0.690258  0.426269
NaN replaced with '0':
        one       two     three
a -0.200728 -0.449055  0.923772
b  0.000000  0.000000  0.000000
c -2.014818 -0.690258  0.426269

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print (df.fillna(method='pad'))

        one       two     three
a  1.351262 -0.120833  0.776114
b       NaN       NaN       NaN
c  0.012546  0.746688  0.136396
d       NaN       NaN       NaN
e  0.762265 -0.951696  1.001406
f -0.436498  1.971682  1.862302
g       NaN       NaN       NaN
h  0.736386 -0.392597  0.881640
        one       two     three
a  1.351262 -0.120833  0.776114
b  1.351262 -0.120833  0.776114
c  0.012546  0.746688  0.136396
d  0.012546  0.746688  0.136396
e  0.762265 -0.951696  1.001406
f -0.436498  1.971682  1.862302
g -0.436498  1.971682  1.862302
h  0.736386 -0.392597  0.881640

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df.fillna(method='bfill'))

        one       two     three
a -0.340340  0.562839  0.728598
b -0.315429 -1.664131 -0.862011
c -0.315429 -1.664131 -0.862011
d  0.130940 -0.614540  1.010496
e  0.130940 -0.614540  1.010496
f -0.383269 -0.087129 -0.913541
g  0.147607  0.360324  0.515357
h  0.147607  0.360324  0.515357

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
#print(df)
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print (df.dropna())

        one       two     three
a -1.307027 -0.732116 -0.132183
b       NaN       NaN       NaN
c  0.603761 -2.232825 -0.594313
d       NaN       NaN       NaN
e -0.930812  1.002637 -1.006453
f  0.356472  0.206759 -0.673405
g       NaN       NaN       NaN
h  0.034145 -0.221348 -2.184125
        one       two     three
a -1.307027 -0.732116 -0.132183
c  0.603761 -2.232825 -0.594313
e -0.930812  1.002637 -1.006453
f  0.356472  0.206759 -0.673405
h  0.034145 -0.221348 -2.184125

In [ ]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000],
'two':[1000,0,30,40,50,60]})
print(df)
print (df.replace({1000:10,2000:60}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [ ]:
df=pd.read_csv("/content/2,1 dataset titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [ ]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [ ]:
dummies = []
cols = ['Pclass', 'Sex', 'Embarked']
for col in cols:
  dummies.append(pd.get_dummies(df[col]))

In [ ]:
titanic_dummies = pd.concat(dummies, axis=1)

In [ ]:
df = pd.concat((df,titanic_dummies), axis=1)

In [ ]:
df = df.drop(['Pclass', 'Sex', 'Embarked'], axis=1)

In [ ]:
df['Age'] = df['Age'].interpolate()
print(df)

     PassengerId  Survived   Age  SibSp  Parch     Fare  1  2  3  female  \
0              1         0  22.0      1      0   7.2500  0  0  1       0
1              2         1  38.0      1      0  71.2833  1  0  0       1
2              3         1  26.0      0      0   7.9250  0  0  1       1
3              4         1  35.0      1      0  53.1000  1  0  0       1
4              5         0  35.0      0      0   8.0500  0  0  1       0
..           ...       ...   ...    ...    ...      ... .. .. ..     ...
885          886         0  39.0      0      5  29.1250  0  0  1       1
886          887         0  27.0      0      0  13.0000  0  1  0       0
887          888         1  19.0      0      0  30.0000  1  0  0       1
889          890         1  26.0      0      0  30.0000  1  0  0       0
890          891         0  32.0      0      0   7.7500  0  0  1       0

     male  C  Q  S
0       1  0  0  1
1       0  1  0  0
2       0  0  0  1
3       0  0  0  1
4       1  0  0  1
..    ... .. .. ..
885     0  0  1  0
886     1  0  0  1
887     0  0  0  1
889     1  1  0  0
890     1  0  1  0

[712 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
scaler = MinMaxScaler()
print(scaler.fit(data))
MinMaxScaler()
print(scaler.data_max_)
print(scaler.transform(data))

MinMaxScaler()
[ 1. 18.]
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler
# define data
data = asarray([[100, 0.001],
[8, 0.05],
[50, 0.005],
[88, 0.07],
[4, 0.1]])
print(data)
# define standard scaler
scaler = StandardScaler()
# transform data
scaled = scaler.fit_transform(data)
print(scaled)

[[1.0e+02 1.0e-03]
 [8.0e+00 5.0e-02]
 [5.0e+01 5.0e-03]
 [8.8e+01 7.0e-02]
 [4.0e+00 1.0e-01]]
[[ 1.26398112 -1.16389967]
 [-1.06174414  0.12639634]
 [ 0.         -1.05856939]
 [ 0.96062565  0.65304778]
 [-1.16286263  1.44302493]]